/* Importar la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif; 
}

#FormHeader{
    align-items: center;
    padding-top:150px ;
    padding-bottom:100px ;
    display:flex;
    flex-direction: column;
    gap: 30px;
    background: #9FEAF8;
    background: linear-gradient(90deg,rgba(159, 234, 248, 1) 0%, rgba(93, 138, 146, 1) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

#FormHeader h1{
    font-size:45px ;
    text-align: center;
    font-weight: bolder;
    width: 800px;
}

#FormHeader h2{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    font-weight: bolder;
}

#PortalF{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-image:url("Imagenes/Seccion final.png") ;
    background-color: rgba(255, 255, 255, 0.35); 
    background-blend-mode: overlay; 
    background-size: cover;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: -1;
}

.back-arrow  {
    position:absolute ; 
    top:500px; 
    left:800px;
}
.back-arrow svg  {
    margin: 0 auto;
    transform: scale(3.5);
}

.PortalContainer {
    width: 500px;
    padding-top:100px ;
    padding-bottom:200px ;

}


.formulario-grupo{
    display: flex;
    flex-direction:column;
    gap:5px
}
.PortalContainer form {
    display: flex;
    flex-direction: column; 
    gap: 70px; 
    text-align: left; 
    width: 100%; 
}

.PortalContainer label {
    font-weight: bold; 
}


.PortalContainer select {
    width: 100%; 
    padding: 10px; 
    border: 1.2px solid #B5B5B5; 
    border-radius: 5px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    font-size: 16px; 
}

.PortalContainer input{
    width: 100%; 
    padding: 10px; 
    border: 1.2px solid #B5B5B5; 
    border-radius: 5px; 
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1); 
    font-size: 16px; 
}


.PortalContainer input:focus,
.PortalContainer select:focus {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, rgba(9, 49, 182, 1), rgba(153, 130, 219, 1)) border-box;
    border-radius: 5px;
    border: 1.2px solid transparent;
    outline:0px;
}

#PortalF button{
    margin-left: 150px;
    max-width:200px ;
    border-radius: 20px;
    padding-top:10px ;
    padding-bottom:10px;
    padding-left:40px ;
    padding-right:40px ;
    background-color: #70E161;
    font-size:27px ;
    font-weight:bolder;
    border:0px;
    margin-top: 80px;
}

#PortalF button:hover{
    background: #96EE8B;
    background: linear-gradient(90deg,rgba(150, 238, 139, 1) 0%, rgba(88, 180, 105, 1) 100%);
}


