/* Importar la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif; /* Aplicar Roboto a todos los elementos */
}

/* Menu dinamico */
.menu {
    position: sticky;
    top: 0; /* Fija el menú en la parte superior de la pantalla */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    background-color: #FFFFFF; /* Asegura que el fondo sea visible */
    height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex; /* Activar Flexbox */
    align-items: center; /* Centrar verticalmente los elementos */
    justify-content: space-between; /* Espaciar elementos: izquierda, centro, derecha */
}


.logo {
    height: 150px; /* Ajustar tamaño del logo */
    width: auto; /* Mantener proporción del logo */
    margin-left: 170px;
}

.EnlaceSesion,.Usuario {
    width: 61px;
    height: 67px;
    margin-right: 170px;
}
.user-menu {
    position: relative; /* Necesario para posicionar el menú desplegable */
    display: flex; /* Hacer que los elementos estén en línea */
    align-items: center; /* Centrar verticalmente los elementos */
    gap: 10px; /* Espaciado entre los elementos */
    cursor: pointer;
    z-index: 10;
}

.menu ul {
    display: flex; /* Hacer que los elementos del menú estén en línea */
    justify-content: center; /* Centrar horizontalmente los enlaces */
    flex-grow: 1; /* Permitir que el menú ocupe el espacio central */
}

.menu ul, .menu li {
    padding: 50px;
}

.dropdown-menu {
    display: none; /* Ocultar el menú inicialmente */
    position: absolute; /* Posicionar el menú fuera del flujo normal */
    top: 100%; /* Colocar el menú justo debajo de la imagen */
    right: 45%; /* Alinearlo con el borde izquierdo del contenedor */
    transform: translateY(9.5x); /* Permite manejar el espacio debajo de la imagen */
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    z-index: 9999;
    width: 200px;
}

.Item {
    color: #000000;
    font-size: 16px;
    padding: 10px 20px; /* Mantener el mismo padding en ambos estados */
    display: inline-block; /* Asegurar que el padding se aplique correctamente */
    box-sizing: border-box; /* Incluir padding dentro del tamaño del elemento */
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s, color 0.3s; /* Transición suave */
}


.Item:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 10px;
    transform: scale(1.1); /* Aumentar el tamaño al 110% */
}
.dropdown-menu ul {
    display: block; /* Cambiar a bloque para que los elementos se apilen verticalmente */
    list-style: none; /* Eliminar los puntos de la lista*/
    margin: 0;
    padding: 0;
}
.dropdown-menu li {
    padding: 10px 20px; /* Espaciado interno para cada elemento */
    text-align: center; /* Alinear el texto a la izquierda */
    width: 100%; /* Asegurar que cada elemento ocupe todo el ancho del menú */
}

.dropdown-menu li img{
    width:50px; 
    height:50px;
}

.dropdown-menu li a {
    color: #000;
    text-decoration: none;
    display: block; /* Asegurar que el enlace ocupe todo el ancho del elemento */
}

.dropdown-menu li:hover {
    background: transparent;
    border: 4px solid;
    border-radius: 30px;
    border-image: conic-gradient(
        #4C3AEC 25%,
        #CB17DA 58%,
        #270E59 75%,
        #6A169A 99%
    )1;
    transform: scale(1);
}

/* Inicio header tecnicos */
#HeaderTecnicos {
    position:relative;
    background: #000000;
    text-align: center;
    padding-bottom:40px;
    padding-top:40px;
    overflow: hidden;
    
}

#HeaderTecnicos h1{
    color:#ffffff;
    font-size : 60px;
    font-weight: lighter;
}

/* Fin Header Tecnicos */

/* Inicio Seccion 1 */

.TecnicosContainer{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 55px;
    padding-right: 160px ;
    padding-top:100px ;
    padding-bottom:100px;
}

.TarjetaTecnico {
    position: relative;
    display: flex;
    flex-direction: row; /* Coloca la imagen y el texto en fila */
    justify-content: center;
    align-items: center;
    gap: 30px; /* Espaciado entre la imagen del técnico y el texto */
    padding: 20px; /* Espaciado interno para la tarjeta */
    margin: 0 auto; /* Centra la tarjeta horizontalmente */
}

.TarjetaTecnico .TecnicoImagen {
    position: relative;
    width: 250px; /* Tamaño imagen tecnico*/
    height: 250px;
    overflow: hidden;
    border-radius: 50%; /* Imagen circular */
    display: flex;
    justify-content: center;
    align-items: center;
}

.TarjetaTecnico .TecnicoImagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin deformarse */
}

.TarjetaTecnico .TecnicoTexto {
    position: relative;
    display: flex;
    flex-direction: column; /* Coloca el texto y las estrellas en columna */
    gap: 15px; /* Espaciado entre los elementos del texto */
    max-width: 600px; /* Limita el ancho máximo del texto */
}

.TarjetaTecnico .TecnicoTexto h2 {
    font-size: 25px;
    font-weight: bolder;
    color: #000000; /* Color del texto */
}

.TarjetaTecnico .TecnicoTexto p {
    font-size: 20px;
    font-weight: bold;
    color: #000000; /* Color del texto */
    margin-top:20px;
}

.TarjetaTecnico .TecnicoTexto img {
    width: 400px; /* Ajusta el tamaño de la imagen de estrellas */
    height: auto;
    align-self: flex-start; 
}

/*Fin Seccion 1 */

/*Inicio Header seccion 2 */

#HeaderServices {
    position:relative;
    background: #000000;
    text-align: center;
    padding-bottom:40px;
    padding-top:40px;
    overflow: hidden;
    
}

#HeaderServices h1{
    color:#ffffff;
    font-size : 60px;
    font-weight: lighter;
}

/*Fin Header seccion 2 */

/* Inicio Seccion 2 */

#OurServices {
    background-color: #D9D9D9;
    display: flex; /* Activa Flexbox */
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra horizontalmente los elementos */
    gap: 40px; /* Espaciado entre las tarjetas y el botón */
    padding-top:90px ;
    padding-bottom:170px ;
}

.ContainerServicios {
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 55px;

}

.TarjetaServicio{
    position: relative;
    display: flex;
    flex-direction: row; /* Coloca la imagen y el texto en fila */
    justify-content: center;
    align-items: center;
    gap: 100px; /* Espaciado entre la imagen del técnico y el texto */
    padding: 20px; /* Espaciado interno para la tarjeta */
    margin: 0 auto; /* Centra la tarjeta horizontalmente */
}

.TarjetaServicio .Simagen {
    position:relative;
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100%; /* Hace que el contenedor sea responsivo */
    height: auto; 
    max-width: 340px; 
    max-height: 340px; 
    overflow: hidden; 
}

.TarjetaServicio .Simagen img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    -moz-box-shadow: 0 0 3px #000000;
    -webkit-box-shadow: 0 0 3px #000000;
    box-shadow: 0 0 3px #000000;
}

.TarjetaServicio .Sbody {
    position: relative;
    display: flex;
    flex-direction: column; /* Coloca el texto y las estrellas en columna */
    gap: 25px; /* Espaciado entre los elementos del texto */
    max-width: 600px; /* Limita el ancho máximo del texto */
}

.TarjetaServicio .Sbody h3{
    font-size:22px;
    font-weight: bolder;
    color: #000;
}

.TarjetaServicio .Sbody p{
    font-size:18px;
    font-weight: bold;
    color: #000000;
}

.dos .Simagen,
.cuatro .Simagen {
    order:2;
}

.dos .Sbody,
.cuatro .Simagen{
    order:1;
    text-align: right;
}

.Agenda {
    background: transparent; /* Fondo transparente inicialmente */
    color: #000000; /* Texto negro inicialmente */
    padding: 25px 30px; /* Espaciado interno */
    border: 1.3px solid #000000; /* Borde negro */
    text-decoration: underline; /* Elimina el subrayado */
    font-size: 40px; /* Ajusta el tamaño del texto */
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
    align-self: center; /* Centra el botón dentro del contenedor Flexbox */
    text-align: center; /* Centra el texto dentro del botón */
    border-radius: 4px; /* Bordes redondeados */
    margin-top:50px;

}

.Agenda:hover {
    transform: scale(1.5); /* Aumenta ligeramente el tamaño al pasar el cursor */
    background: rgb(238,166,115);
    background: linear-gradient(180deg, rgba(238,166,115,1) 0%, rgba(207,124,64,1) 50%, rgba(173,83,4,1) 100%);
}

/* Inicio Footer */

.Foot {
    background: #BDDCFF; 
}

.Foot .FootHeader {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    padding-left:100px ;
    padding-right:100px ;
}

.Foot .FootHeader .LogoFoot {
    flex: 1; 
    display : flex;
    justify-content: flex-start;  
}

.Foot .FootHeader .LogoFoot img {
    width: 350px; 
    height: auto; 
    margin-left:150px;
}

.Foot .FootHeader .Nombreempresa {
    flex: 1; 
    display: flex;
    justify-content: center; 
    text-align: center;
}

.Foot .FootHeader .Nombreempresa p {
    font-size: 20px;
    font-weight: bolder;
    margin-right: 100px;
}

.Foot .FootHeader .RedesSociales {
    flex: 1; 
    display: flex;
    justify-content: flex-end; 
    gap: 100px; 
}

.Foot .FootHeader .RedesSociales img {
    width: 70px; 
    height: auto; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25); 
    border-radius: 10px; 
}

.Foot hr {
    background: rgb(51,18,18);
    background: linear-gradient(90deg, rgba(51,18,18,1) 0%, rgba(235,200,200,1) 51%, rgba(1,0,0,1) 100%);
    height: 6.5px;
    border-radius:30px;
    width: 80%;
    margin: 0 auto;
}

.FootSection {
    display: flex;
    justify-content: space-evenly;
    padding-top:55px ;
    padding-bottom:100px ;

}

.FootSection div {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
}


.FootSection div a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}





