/* Importar la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif; /* Aplicar Roboto a todos los elementos */
}

/* Menu dinamico */
.menu {
    position: sticky;
    top: 0; /* Fija el menú en la parte superior de la pantalla */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    background-color: #FFFFFF; /* Asegura que el fondo sea visible */
    height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex; /* Activar Flexbox */
    align-items: center; /* Centrar verticalmente los elementos */
    justify-content: space-between; /* Espaciar elementos: izquierda, centro, derecha */
}


.logo {
    height: 150px; /* Ajustar tamaño del logo */
    width: auto; /* Mantener proporción del logo */
    margin-left: 170px;
}

.EnlaceSesion,.Usuario {
    width: 61px;
    height: 67px;
    margin-right: 170px;
}
.user-menu {
    position: relative; /* Necesario para posicionar el menú desplegable */
    display: flex; /* Hacer que los elementos estén en línea */
    align-items: center; /* Centrar verticalmente los elementos */
    gap: 10px; /* Espaciado entre los elementos */
    cursor: pointer;
    z-index: 10;
}

.menu ul {
    display: flex; /* Hacer que los elementos del menú estén en línea */
    justify-content: center; /* Centrar horizontalmente los enlaces */
    flex-grow: 1; /* Permitir que el menú ocupe el espacio central */
}

.menu ul, .menu li {
    padding: 50px;
}

.dropdown-menu {
    display: none; /* Ocultar el menú inicialmente */
    position: absolute; /* Posicionar el menú fuera del flujo normal */
    top: 100%; /* Colocar el menú justo debajo de la imagen */
    right: 45%; /* Alinearlo con el borde izquierdo del contenedor */
    transform: translateY(9.5x); /* Permite manejar el espacio debajo de la imagen */
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    z-index: 9999;
    width: 200px;
}

.Item {
    color: #000000;
    font-size: 16px;
    padding: 10px 20px; /* Mantener el mismo padding en ambos estados */
    display: inline-block; /* Asegurar que el padding se aplique correctamente */
    box-sizing: border-box; /* Incluir padding dentro del tamaño del elemento */
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s, color 0.3s; /* Transición suave */
}


.Item:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 10px;
    transform: scale(1.1); /* Aumentar el tamaño al 110% */
}
.dropdown-menu ul {
    display: block; /* Cambiar a bloque para que los elementos se apilen verticalmente */
    list-style: none; /* Eliminar los puntos de la lista*/
    margin: 0;
    padding: 0;
}
.dropdown-menu li {
    padding: 10px 20px; /* Espaciado interno para cada elemento */
    text-align: center; /* Alinear el texto a la izquierda */
    width: 100%; /* Asegurar que cada elemento ocupe todo el ancho del menú */
}

.dropdown-menu li img{
    width:50px; 
    height:50px;
}

.dropdown-menu li a {
    color: #000;
    text-decoration: none;
    display: block; /* Asegurar que el enlace ocupe todo el ancho del elemento */
}

/* Cambiar el fondo al pasar el mouse */
.dropdown-menu li:hover {
    background: transparent;
    border: 4px solid;
    border-radius: 30px;
    border-image: conic-gradient(
        #4C3AEC 25%,
        #CB17DA 58%,
        #270E59 75%,
        #6A169A 99%
    )1;
    transform: scale(1);
}

/* Fin menu dinamico */

/* Comienzo seccion 1 */

#Presentacion {
    position: relative; /* Necesario para posicionar elementos hijos con position: absolute */
    background: rgb(228, 228, 228);
    background: linear-gradient(90deg, rgba(228, 228, 228, 1) 25%, rgba(126, 126, 126, 1) 100%);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center; /* Centrar el texto y la imagen horizontalmente */
    overflow: hidden; /* Limitar el contenido al área del contenedor */
    z-index:-1;
}

#Presentacion h1{
    text-align: center;
    margin-bottom: 20px;
    font-size:200%;
    
}

#Presentacion h2{
    text-align: center;
    font-size: 150%
    
}

#Presentacion .circuit {
    position: absolute; /* Posicionar la imagen dentro del contenedor */
    top: 50%; /* Centrar verticalmente */
    left: 0; /* Mover al extremo izquierdo */
    transform: translateY(-50%) rotate(90deg); /* Ajustar el centrado vertical y rotar 90 grados */
    width: 100px; /* Ajustar el tamaño de la imagen */
    height: 100px;
    z-index: -1; /* Colocar la imagen detrás del texto si es necesario */
    opacity: 0.8; /* Opcional: hacer la imagen semitransparente */
}

#Presentacion .circuit2 {
    position: absolute; /* Posicionar la imagen dentro del contenedor */
    top: 50%; /* Centrar verticalmente */
    right: 0; /* Mover al extremo derecho */
    transform: translateY(-50%) rotate(270deg); /* Ajustar el centrado vertical y rotar 90 grados */
    width: 100px; /* Ajustar el tamaño de la imagen */
    height: 100px;
    z-index: -1; /* Colocar la imagen detrás del texto si es necesario */
    opacity: 0.8; /* Opcional: hacer la imagen semitransparente */
}

#Presentacion .gear {
    position: absolute; /* Posicionar la imagen detrás del texto */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%) rotate(0deg); /* Ajustar la posición al centro y rotar si es necesario */
    width: 600px; /* Ajustar el tamaño de la imagen */
    height: 600px;
    z-index: -1; /* Colocar la imagen detrás del texto */
    opacity: 0.2; /* Hacer la imagen semitransparente para que no opaque el texto */
}
    
/* Fin seccion 1 */

/* Comienzo seccion 2 */

#Introduccion {
    position: relative;
    background-image: url("Imagenes/Imagen Seccion 2.png");
    background-repeat: no-repeat; /* Evitar que el fondo se repita */
    background-size: 100% 100%; /* Ajustar el fondo para que ocupe todo el contenedor */
    background-position: center; /* Centrar la imagen */
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

#Introduccion h2 img {
    width: 120px; /* Ajustar el tamaño de la imagen */
    height: 120px;
}

#Introduccion h2 {
    position: absolute; /* Activar Flexbox */
    display: flex;
    align-items: center; /* Alinear verticalmente la imagen y el texto */
    justify-content: flex-start; /* Alinear los elementos al inicio del contenedor */
    color: #FCFCFC;
    font-size: 50px; /* Ajustar el tamaño del texto */
    gap: 30px; /* Espaciado entre la imagen y el texto */
    padding-top: 70px;
    padding-left: 70px;
}

#Introduccion p {
    display: absolute;
    display:flex;
    text-align:center;
    justify-content: left;
    color: #FCFCFC;
    font-size: 60px;
    padding-top: 1000px;
    padding-left: 200px;
    padding-bottom: 25px;
    font-weight: bolder;;
}

#Introduccion a {
    position: absolute; /* Posicionar el enlace en relación con el contenedor */
    bottom: 100px; /* Separación desde la parte inferior */
    right: 150px; /* Separación desde la parte derecha */
    background: transparent; /* Fondo transparente inicialmente */
    color: #000000; /* Texto negro inicialmente */
    padding: 15px 30px; /* Espaciado interno */
    border: 10px solid #000000; /* Borde negro */
    text-decoration: none; /* Eliminar el subrayado */
    font-size: 30px; /* Ajustar el tamaño del texto */
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el texto */
}

#Introduccion a:hover {
    background-color: #000000; /* Fondo negro al pasar el mouse */
    color: #FFFFFF; /* Texto blanco al pasar el mouse */
}

#Introduccion .Sello {
    position: absolute; /* Posicionar el sello en relación con el contenedor */
    bottom: 300px; /* Separación desde la parte superior */
    right: 250px; /* Alinear con el enlace */
    width: 200px; /* Ajustar el tamaño del sello */
    height: 150px;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease; /* Transición suave */
}

#Introduccion .Sello:hover {
    transform: scale(2); /* Escalar el sello al pasar el mouse */
}

/* Fin Seccion 2 */

/* Header Servicios destacados */
#HeaderServicios {
    position:relative;
    background: #E9E9E9;
    text-align: center;
    padding-bottom:50px;
    padding-top:50px;
    
}

#HeaderServicios h1{
    color:#000000;
    font-size : 60px;
    font-weight: lighter;

}
/* Fin header Servicios destacados */

/* Inicio Seccion 3 */

#ServiciosD {
    position: relative; /* Necesario para posicionar elementos hijos */
    background-image: url("Imagenes/Imagen Seccion 3.png"); /* Ruta de la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding: 50px 0; /* Espaciado superior e inferior para que la imagen sea visible */
}

.TarjetasContainer {
    display: flex; /* Activa Flexbox */
    gap: 100px; /* Espaciado entre las tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas si no hay suficiente espacio */
    padding-left: 50px;
    padding-right: 50px; 
    padding-top: 100px;
    padding-bottom: 100px; 
    background-color: rgba(255, 255, 255, 0.35); /* Fondo blanco con opacidad del 35% */
    border-radius: 20px; /* Bordes redondeados para el contenedor */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    max-width: 2000px;
    max-height: 4000px ;
    margin: 0 auto; /* Centra el contenedor dentro de #ServiciosD */
}

.Tarjeta1 {
    position: relative;
    width: 300px;
    height: 540px;
    background: #ffffff; /* Fondo blanco */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

.Tarjeta1:hover {
    background: rgb(208,206,206);
    background: linear-gradient(90deg, rgba(208,206,206,1) 0%, rgba(119,118,118,1) 91%); 
}

.Tarjeta1 .head {
    height: 250px;
    width: 100%;
    position: relative;
    display: flex; /* Asegura que el contenido esté centrado */
    justify-content: center;
    align-items: center;
    background: #f5f5f5; /* Fondo claro para la cabecera */
}

.Tarjeta1 .head img {
    width: 100%; /* Ajustar al ancho del contenedor */
    height: auto; /* Mantener proporciones */
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); /* Sombra para la imagen */
}


.Tarjeta1 .Descripcion {
    height: 200px;
    padding-top:50px ; /* Espaciado interno uniforme */
    padding-left: 20px; ;
    padding-right:20px ;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaciado entre los elementos */
}

.Tarjeta1 .Descripcion h3 {
    font-size: 24px;
    font-weight: bold;
    color: #000000; /* Texto oscuro */
    margin-bottom: 10px; /* Espaciado inferior */
    text-align: left;
}

.Tarjeta1 .Descripcion p {
    font-size: 16px;
    color: #0a0a0a; /* Texto gris */
    line-height: 1.5; /* Mejorar la legibilidad */
    text-align: left;
}

.Tarjeta1 .Conocer {
    text-align: left;
    margin-top: 10px;
}

.Tarjeta1 .Conocer a {
    display: inline-block;
    color: #000000; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration:underline; 
    font-size: 16px;
    font-weight: bold;
    margin-top: -1px;
}

.segunda-tarjeta {
    margin-top : 270px;
}

.cuarta-tarjeta {
    margin-top : 270px;
}

.segunda-tarjeta .head .imagen img {
    width: auto; /* Ajustar al ancho del contenedor */
    height: auto; /* Mantener proporciones */
    object-fit: contain; /* Asegura que toda la imagen sea visible sin recortarse */
    margin: 0 auto; /* Centrar horizontalmente */
}


.segunda-tarjeta .Descripcion {
    padding: 20px; /* Espaciado interno uniforme */
    text-align: justify; /* Justificar el texto para una mejor alineación */
    font-size: 16px; /* Ajustar el tamaño del texto */
    line-height: 1.6; /* Mejorar la legibilidad */
    color: #333333; /* Color del texto */
    margin-top: 10px; /* Espaciado superior */
}

.segunda-tarjeta .Conocer a {
    margin-top: -50px;
}

.tercera-tarjeta .Descripcion {
    padding: 20px; /* Espaciado interno uniforme */
    text-align: justify; /* Justificar el texto para una mejor alineación */
    font-size: 16px; /* Ajustar el tamaño del texto */
    line-height: 1.6; /* Mejorar la legibilidad */
    color: #333333; /* Color del texto */
    margin-top: 40px; /* Espaciado superior */
}

.tercera-tarjeta .Conocer a {
    margin-top: -50px;
}

/* Ajuste específico para la cuarta tarjeta */
.cuarta-tarjeta .head .imagen img {
    width: 372px; /* Ajustar al ancho del contenedor */
    height: auto; /* Mantener proporciones */
    object-fit: contain; /* Asegura que toda la imagen sea visible sin recortarse */
    margin: 0 auto; /* Centrar horizontalmente */
}

/* Fin Seccion 3 */

/* Header Servicios destacados */
#ReparacionHeader {
    position:relative;
    background: #E9E9E9;
    text-align: center;
    padding-bottom:50px;
    padding-top:50px;
    
}

#ReparacionHeader h1{
    color:#000000;
    font-size : 60px;
    font-weight: lighter;

}
/* Fin header Servicios destacados */

/* Inicio Patrocinios */
#Patrocinios {
    background-color: #F2F2F2;
    padding-left:400px;
    padding-right:400px;
    padding-top:-5px ;
    padding-bottom:-5px ;
}

#Patrocinios .ImagenesPatrocinios {
    position: relative;
    display: flex; /* Activa Flexbox */
    justify-content: space-between; /* Espaciado uniforme entre las imágenes */
    align-items: center; /* Centra las imágenes verticalmente */
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en varias filas si no hay suficiente espacio */
    gap: 40px; /* Espaciado entre las imágenes */
}

#Patrocinios .ImagenesPatrocinios img {
    width: 300px; /* Ajusta el ancho de las imágenes */
    height: auto; /* Mantiene las proporciones originales */
    opacity: 0.6; /* opacidad */
}
/* Fin Patrocinios*/

/* Inicio Seccion 4 */

#Reparacion{
    background-image: url("Imagenes/reparacion-lavadoras img.png"); 
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding: 50px 0; /* Espaciado superior e inferior para que la imagen sea visible */
}

#Reparacion .Reparacioncontainer {
    display: flex; /* Activa Flexbox */
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas */
    padding-left:100px ;
    padding-right:100px ;
    padding-bottom:100px ;
    padding-top:100px ;
    gap: 250px; /* Espaciado entre las tarjetas */
    background-color:rgba(255, 255, 255, 0.19);
    justify-content: center; /* Centra las tarjetas horizontalmente */
    border-style: solid;;
    border-color: #000000;
    border-width: 4px;
    border-radius: 30px;
    margin:0 auto;
    max-width: 2000px;
    max-height: 3000px;
    margin-top: 70px;
    margin-bottom:70px;
    
}

#Reparacion .Reparacioncontainer .imglav {
    width: 300px; /* determina el ancho de la imagen*/
    height: auto; /* ajusta el tamaño de la imagen dependiendo del ancho */
    max-height: 300px; /* limita la altura de la imagen a 300px */
    border-radius: 15px; /* bordes redondeados */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25); /* sombra con opacidad */
    background-color: #ffffff; /* fondo blanco en el contorno */
    padding: 5px; /* espaciado interno dentro de la imagen */
    object-fit: contain; /* la imagen se ajusta a el contener */
    margin: 0 auto; /* elimina las margenes */
    transition: transform 0.3s ease; /* transicion */
}

#Reparacion .Reparacioncontainer  .nodis {
    font-size: 24px; /* fuente o tamaño del texto */
    background-color: #000000; /* fondo negro */
    color: #ffffff; /* color blanco texto */
    border-radius: 10px; /* bordes del texto redondeados */
    padding: 20px; /* espaciado interno del texto */
    text-align: center; /* Centra el texto */
    opacity: 0; /* oculta el texto */
    transform: translateY(10px); /* texto abajo */
    transition: transform 0.3s ease; /* transicion*/
}

#Reparacion .Reparacioncontainer .Tipolavadora:hover .nodis,
#Reparacion .Reparacioncontainer .Tipolavadora2:hover .nodis,
#Reparacion .Reparacioncontainer .Tipolavadora3:hover .nodis,
#Reparacion .Reparacioncontainer .Tipolavadora4:hover .nodis,
#Reparacion .Reparacioncontainer .Tipolavadora5:hover .nodis,
#Reparacion .Reparacioncontainer .Tipolavadora6:hover .nodis    {
    opacity: 1; /* opacidad 100% cuando el usuario pasa el cursor por el div .Tipolavadora */
    transform: translateY(0); /*posicion original del texto */
}

#Reparacion .Reparacioncontainer .Tipolavadora,
#Reparacion .Reparacioncontainer .Tipolavadora2,
#Reparacion .Reparacioncontainer .Tipolavadora3,
#Reparacion .Reparacioncontainer .Tipolavadora4,
#Reparacion .Reparacioncontainer .Tipolavadora5,
#Reparacion .Reparacioncontainer .Tipolavadora6 {
    position: relative;
    width: 300px; /* ancho de 300 pixeles */
    display: flex; /* flexbox */
    flex-direction: column; /* coloca los elementos en formato columna */
    align-items: center; /* centra los elementos*/
    text-align: center; /* centra el texto */
    gap: 30px; /* espacio entre la imagen y el texto */
}

/* Fin Seccion 4 */

/* Header Seccion 5 */

#HeaderUbicacion {
    background: #E9E9E9; 
    max-height: 300px;
    text-align: center; 
    overflow:hidden;
}

#HeaderUbicacion div {
    position: relative;
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;   
    bottom:70px;
    right:20px;
}

#HeaderUbicacion img {
    width: 400px; 
    height: auto; 
    max-height: height 150px;
    object-fit:contain
}

#HeaderUbicacion h1 {
    color: #000000; 
    font-size: 48px; 
    font-weight: lighter; 
}

/* Fin Header Seccion 5 */

/* Inicio seccion 5 */
#Ubicacion .ContainerUbicacion .Location1 {
    position: relative;
    display: flex; /* Activa Flexbox */
    flex-direction: row; /* Mantiene los elementos en fila */
    justify-content: space-between; /* Distribuye los elementos uniformemente */
    align-items: center; /* Centra los elementos verticalmente */
    width: 100%; /* Asegura que cada fila ocupe todo el ancho disponible */
    max-width: 1200px; /* Limita el ancho máximo de cada fila */
    margin: 0 auto; /* Centra las filas horizontalmente */
    gap: 20px; /* Espaciado entre los elementos */
}

#Ubicacion {
    position: relative; /* Necesario para posicionar elementos hijos */
    background-image: url("Imagenes/Seccion 5 imagen.png"); /* Ruta de la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita padding: 50px 0;*/
    padding: 50px 0; /* Espaciado superior e inferior para que la imagen sea visible */
    overflow: hidden; /* Limitar el contenido al área del contenedor */
}

#Ubicacion .ContainerUbicacion {
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    gap:80px;
    background-color:rgba(255, 255, 255, 0.46);
    border-radius:20px;
    max-height:4000px;
    padding-bottom:50px ;
    padding-top:50px;
    margin-top:50px ;
    margin-bottom:50px;

}

#Ubicacion .ContainerUbicacion .Location1 .local {
    font-size: 30px;
    border: 4px solid #000; /* Borde negro */
    text-align: center; /* Centra el texto */
    flex: 0.7; /* Asegura que este elemento ocupe espacio proporcional */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex; /* Activa Flexbox */
    align-items: center; /* Centra el texto verticalmente */
    justify-content: center; /* Centra el texto horizontalmente */
    order:1;
    margin-right:30px;
}

#Ubicacion .ContainerUbicacion .Location1 .localimagen {
    position: relative;
    height: 150px; /* Ajusta la altura del contenedor */
    width: 150px; /* Ajusta el ancho del contenedor */
    overflow: hidden; /* Asegura que la imagen no se desborde */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    border: 4.5px solid #000; /* Agrega un borde negro */
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    order:2;
}

#Ubicacion .ContainerUbicacion .Location1 .localimagen img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor.localimagen  */
    height: 100%; /* Ajusta la imagen al alto del contenedor.localimagen */
    object-fit: cover; /* se asegura que cubra el contenedor entero */
    border-radius: 50%; /* Hace que la imagen sea circular */
}

#Ubicacion .ContainerUbicacion .Location1 .Direccion {
    font-size: 40px;
    text-align: center; 
    flex: 1; /* Asegura que este elemento ocupe espacio proporcional */
    display: flex; /* Flexbox*/
    align-items: center; /* Centra el texto */
    justify-content: center; /* Centra el texto  */
    margin-left:120px; /* mueve 120px a la izquierda el objeto direccion  */
    order:3; /* mueve 120px a la izquierda el objeto direccion  */
}

/* Fin seccion 5 */

/* Inicio Header seccion 6 */
#SobreNosotros {
    position:relative;
    background: #F1F0F0;
    text-align: center;
    padding-bottom:50px;
    padding-top:50px;
    
}


#SobreNosotros h1{
    color:#000000;
    font-size : 60px;
    font-weight: lighter;

}
/* Fin Header seccion 6 */

/* Inicio Seccion 6 */

#QuienesSomos {
    position: relative;
    background-image: url("Imagenes/Imagen seccion 6.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 50px 20px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#QuienesSomos .ContentContainer {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
    gap: 20px; 
}

#QuienesSomos .ImagesContainer {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 0px; 
    flex: 1; 
}

#QuienesSomos .ImagesContainer img {
    width: 500px; 
    height: auto; 
}

#QuienesSomos .Textcontainer {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.70);
    padding: 50px;
    max-width: 900px; 
    width: 100%; 
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}

#QuienesSomos .Textcontainer p {
    font-size: 35px; 
    font-weight: 900; 
}

#QuienesSomos .ImagesContainer .Imagen1 {
    margin-left: -150px; 
}

#QuienesSomos .ImagesContainer .Imagen2 {
    margin-right: -70px; 
}

/* Fin seccion 6 */














