/* Importar la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif; /* Aplicar Roboto a todos los elementos */
}

/* Menu dinamico */
.menu {
    position: sticky;
    top: 0; /* Fija el menú en la parte superior de la pantalla */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    background-color: #FFFFFF; /* Asegura que el fondo sea visible */
    height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex; /* Activar Flexbox */
    align-items: center; /* Centrar verticalmente los elementos */
    justify-content: space-between; /* Espaciar elementos: izquierda, centro, derecha */
}


.logo {
    height: 150px; /* Ajustar tamaño del logo */
    width: auto; /* Mantener proporción del logo */
    margin-left: 170px;
}

.EnlaceSesion,.Usuario {
    width: 61px;
    height: 67px;
    margin-right: 170px;
}
.user-menu {
    position: relative; /* Necesario para posicionar el menú desplegable */
    display: flex; /* Hacer que los elementos estén en línea */
    align-items: center; /* Centrar verticalmente los elementos */
    gap: 10px; /* Espaciado entre los elementos */
    cursor: pointer;
    z-index: 10;
}

.menu ul {
    display: flex; /* Hacer que los elementos del menú estén en línea */
    justify-content: center; /* Centrar horizontalmente los enlaces */
    flex-grow: 1; /* Permitir que el menú ocupe el espacio central */
}

.menu ul, .menu li {
    padding: 50px;
}

.dropdown-menu {
    display: none; /* Ocultar el menú inicialmente */
    position: absolute; /* Posicionar el menú fuera del flujo normal */
    top: 100%; /* Colocar el menú justo debajo de la imagen */
    right: 45%; /* Alinearlo con el borde izquierdo del contenedor */
    transform: translateY(9.5x); /* Permite manejar el espacio debajo de la imagen */
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    z-index: 9999;
    width: 200px;
}

.Item {
    color: #000000;
    font-size: 16px;
    padding: 10px 20px; /* Mantener el mismo padding en ambos estados */
    display: inline-block; /* Asegurar que el padding se aplique correctamente */
    box-sizing: border-box; /* Incluir padding dentro del tamaño del elemento */
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s, color 0.3s; /* Transición suave */
}


.Item:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 10px;
    transform: scale(1.1); /* Aumentar el tamaño al 110% */
}
.dropdown-menu ul {
    display: block; /* Cambiar a bloque para que los elementos se apilen verticalmente */
    list-style: none; /* Eliminar los puntos de la lista*/
    margin: 0;
    padding: 0;
}
.dropdown-menu li {
    padding: 10px 20px; /* Espaciado interno para cada elemento */
    text-align: center; /* Alinear el texto a la izquierda */
    width: 100%; /* Asegurar que cada elemento ocupe todo el ancho del menú */
}

.dropdown-menu li img{
    width:50px; 
    height:50px;
}

.dropdown-menu li a {
    color: #000;
    text-decoration: none;
    display: block; /* Asegurar que el enlace ocupe todo el ancho del elemento */
}

/* Cambiar el fondo al pasar el mouse */
.dropdown-menu li:hover {
    background: transparent;
    border: 4px solid;
    border-radius: 30px;
    border-image: conic-gradient(
        #4C3AEC 25%,
        #CB17DA 58%,
        #270E59 75%,
        #6A169A 99%
    )1;
    transform: scale(1);
}

/* Fin menu dinamico */

/* Comienzo seccion 1 */

#Presentacion {
    position: relative; /* Necesario para posicionar elementos hijos con position: absolute */
    background: rgb(228, 228, 228);
    background: linear-gradient(90deg, rgba(228, 228, 228, 1) 25%, rgba(126, 126, 126, 1) 100%);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center; /* Centrar el texto y la imagen horizontalmente */
    overflow: hidden; /* Limitar el contenido al área del contenedor */
    z-index:-1;
}

#Presentacion h1{
    text-align: center;
    margin-bottom: 20px;
    font-size:200%;
    
}

#Presentacion h2{
    text-align: center;
    font-size: 150%
    
}

#Presentacion .circuit {
    position: absolute; /* Posicionar la imagen dentro del contenedor */
    top: 50%; /* Centrar verticalmente */
    left: 0; /* Mover al extremo izquierdo */
    transform: translateY(-50%) rotate(90deg); /* Ajustar el centrado vertical y rotar 90 grados */
    width: 100px; /* Ajustar el tamaño de la imagen */
    height: 100px;
    z-index: -1; /* Colocar la imagen detrás del texto si es necesario */
    opacity: 0.8; /* Opcional: hacer la imagen semitransparente */
}

#Presentacion .circuit2 {
    position: absolute; /* Posicionar la imagen dentro del contenedor */
    top: 50%; /* Centrar verticalmente */
    right: 0; /* Mover al extremo derecho */
    transform: translateY(-50%) rotate(270deg); /* Ajustar el centrado vertical y rotar 90 grados */
    width: 100px; /* Ajustar el tamaño de la imagen */
    height: 100px;
    z-index: -1; /* Colocar la imagen detrás del texto si es necesario */
    opacity: 0.8; /* Opcional: hacer la imagen semitransparente */
}

#Presentacion .gear {
    position: absolute; /* Posicionar la imagen detrás del texto */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%) rotate(0deg); /* Ajustar la posición al centro y rotar si es necesario */
    width: 600px; /* Ajustar el tamaño de la imagen */
    height: 600px;
    z-index: -1; /* Colocar la imagen detrás del texto */
    opacity: 0.2; /* Hacer la imagen semitransparente para que no opaque el texto */
}
    
/* Fin seccion 1 */

/* Comienzo seccion 2 */

#Introduccion {
    position: relative;
    background-image: url("Imagenes/Imagen Seccion 2.png");
    background-repeat: no-repeat; /* Evitar que el fondo se repita */
    background-size: 100% 100%; /* Ajustar el fondo para que ocupe todo el contenedor */
    background-position: center; /* Centrar la imagen */
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

#Introduccion h2 img {
    width: 120px; /* Ajustar el tamaño de la imagen */
    height: 120px;
}

#Introduccion h2 {
    position: absolute; /* Activar Flexbox */
    display: flex;
    align-items: center; /* Alinear verticalmente la imagen y el texto */
    justify-content: flex-start; /* Alinear los elementos al inicio del contenedor */
    color: #FCFCFC;
    font-size: 50px; /* Ajustar el tamaño del texto */
    gap: 30px; /* Espaciado entre la imagen y el texto */
    padding-top: 70px;
    padding-left: 70px;
}

#Introduccion p {
    display: absolute;
    display:flex;
    text-align:center;
    justify-content: left;
    color: #FCFCFC;
    font-size: 60px;
    padding-top: 1000px;
    padding-left: 200px;
    padding-bottom: 25px;
    font-weight: bolder;;
}

#Introduccion a {
    position: absolute; /* Posicionar el enlace en relación con el contenedor */
    bottom: 100px; /* Separación desde la parte inferior */
    right: 150px; /* Separación desde la parte derecha */
    background: transparent; /* Fondo transparente inicialmente */
    color: #000000; /* Texto negro inicialmente */
    padding: 15px 30px; /* Espaciado interno */
    border: 10px solid #000000; /* Borde negro */
    text-decoration: none; /* Eliminar el subrayado */
    font-size: 30px; /* Ajustar el tamaño del texto */
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el texto */
}

#Introduccion a:hover {
    background-color: #000000; /* Fondo negro al pasar el mouse */
    color: #FFFFFF; /* Texto blanco al pasar el mouse */
}

#Introduccion .Sello {
    position: absolute; /* Posicionar el sello en relación con el contenedor */
    bottom: 300px; /* Separación desde la parte superior */
    right: 250px; /* Alinear con el enlace */
    width: 200px; /* Ajustar el tamaño del sello */
    height: 150px;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease; /* Transición suave */
}

#Introduccion .Sello:hover {
    transform: scale(2); /* Escalar el sello al pasar el mouse */
}

/* Fin Seccion 2 */

#HeaderServicios {
    position:relative;
    background: #E9E9E9;
    text-align: center;
    padding-bottom:50px;
    padding-top:50px;
    
}

#HeaderServicios h1{
    color:#000000;
    font-size : 60px;
    font-weight: lighter;

}

